<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenchen.dao.IGameBaseDao" >

    <insert id="insertGameBaseData" parameterType="com.shenchen.model.GameBaseData" >
        INSERT INTO `game_base_data` (
                    `match_id`,
                    `league_name_simply`,
                    `host_name`,
                    `guest_name`,
                    `match_time`,
                    `host_goal`,
                    `guest_goal`,
                    `game_result`)
        VALUES(
            #{match_id,jdbcType=VARCHAR},
            #{league_name_simply,jdbcType=VARCHAR},
            #{host_name,jdbcType=VARCHAR},
            #{guest_name,jdbcType=VARCHAR},
            #{match_time,jdbcType=TIMESTAMP},
            #{host_goal,jdbcType=INTEGER},
            #{guest_goal,jdbcType=INTEGER},
            #{game_result,jdbcType=INTEGER})
        </insert>

    <delete id="deleteAllGameBaseData" >
        delete  from game_base_data
    </delete>

    <delete id="deleteGameBaseData" parameterType="com.shenchen.model.GameBaseData">
        delete  from game_base_data where  match_id = #{match_id,jdbcType=VARCHAR}
    </delete>

    <select id = "queryHostGameBaseData" resultType="com.shenchen.model.GameBaseData"
            parameterType="com.shenchen.model.GameBaseData">
        select * from game_base_data
          where league_name_simply = #{league_name_simply}
              and host_name = #{host_name}
            <![CDATA[
             and match_time < #{match_time}
            ]]>
        ORDER BY match_time desc limit 20
    </select>

    <select id = "queryGuestGameBaseData" resultType="com.shenchen.model.GameBaseData"
            parameterType="com.shenchen.model.GameBaseData">
        select * from game_base_data
          where league_name_simply = #{league_name_simply}
              and guest_name = #{guest_name}
            <![CDATA[
             and match_time < #{match_time}
            ]]>
        ORDER BY match_time desc limit 20
    </select>


</mapper>